.spinner-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-color: #ffffff;
  z-index: 100;
}
.three-quarter-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #0998ff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite;
}
.remove-loader {
  transition: 1s;
  opacity: 0;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
