@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Poppins:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #2c8cd5ed;
  --secondary-color: #fff;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Alegreya Sans SC', sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100vw;
  min-height: 100vh;
  font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}
h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin: 1.25rem 0;
}
a {
  font-family: var(--secondary-font);
  color: black;
  text-decoration: none;
}
a:hover {
  transition: 0.2s;
  color: #652fd2;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 111, 195, 0.73);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(79, 151, 206, 0.418);
  color: white;
  z-index: 10;
  overflow: hidden;
}
.nav-left {
  position: relative;
  left: 2rem;
  width: 15%;
  font-size: 2rem;
}
.nav-left img {
  width: 3rem;
}
.nav-left a {
  color: white;
}
.nav-right {
  position: relative;
  right: 2rem;
  width: 30%;
}
.nav-right ul {
  width: 100%;
}
.nav-right ul li {
  list-style: none;
}

/* hero-section-image */
.hero-section {
  padding: 2rem 0;
}
.hero-section-image {
  width: 40vw;
}
/* content sections */
#main-content {
  width: 70%;
  margin: auto;
}
#members-content {
  width: 70%;
  margin: auto;
}
#members-content h2 {
  margin: 1.5rem 0;
}
#members-content div {
  margin-bottom: 5rem;
}
footer {
  width: 100%;
  height: 100px;
  background: rgba(0, 111, 195, 0.73);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(79, 151, 206, 0.418);
  color: white;
}
