@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&family=Poppins:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #ffffffb7;
  --secondary-color: rgb(0, 0, 0);
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Alegreya Sans SC', sans-serif;
  --gradient-primary-color: #3295dc;
  --gradient-secondary-color: #fc4455;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100vw;
  min-height: 100vh;
  font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}
h1 {
  position: relative;
  font-size: 4rem;
  font-weight: bolder;
  margin: 1rem 0;
}
h2 {
  font-size: 2rem;
}
a {
  font-family: var(--secondary-font);
  color: black;
  text-decoration: none;
}
a:hover {
  transition: 0.2s;
  color: #652fd2;
}
.gradient-text {
  background: linear-gradient(
    to right,
    var(--gradient-primary-color),
    var(--gradient-secondary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background: var(--primary-color);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  color: var(--secondary-color);
  z-index: 10;
  overflow: hidden;
}
.nav-left {
  position: relative;
  left: 2rem;
  width: 250px;
  font-size: 2rem;
}
.nav-left img {
  width: 2.5rem;
}
.nav-left a {
  color: var(--secondary-color);
}
.nav-right {
  position: relative;
  right: 2rem;
  width: 30%;
}
.nav-right ul {
  width: 100%;
}
.nav-right ul li {
  list-style: none;
}

/* hero-section-image */
.hero-section-image {
  width: 40vw;
}
/* content sections */
#main-content {
  width: 70%;
  margin: auto;
}
#members-content {
  width: 70%;
  margin: auto;
}
#members-content h2 {
  margin: 1rem 0;
}
#members-content div {
  margin-bottom: 3rem;
}
footer {
  width: 100%;
  min-height: 20vh;
  padding: 10px 0;
  background: var(--primary-color);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: var(--secondary-color);
}
footer .social {
  width: 30%;
  font-size: 1.8rem;
  margin: 3rem 0;
}
footer .social i {
  cursor: pointer;
}
footer .social i:hover {
  transition: 0.1s;
  transform: scale(1.1);
  background: linear-gradient(
    to right,
    var(--gradient-primary-color),
    var(--gradient-secondary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
